<html>
<head>
  <title>Key Presses</title>
</head>
<body>
  <h4>key: <span id="showDirection"></span></h4>
  <h4>current movement: <span id="showMovement"></span></h4>
  <script type="text/javascript">
  var showDirection = document.getElementById("showDirection");
  var showMovement = document.getElementById("showMovement");
  var direction = '';

  document.onkeydown = function(event) {
    console.log(event.keyCode)
    switch (event.keyCode) {
      case 37:
          direction = "left";
        break;
      case 65:
          direction = "left";
        break;
      case 38:
          direction = "up";
        break;
      case 87:
          direction = "up";
        break;
      case 39:
          direction = "right";
        break;
      case 68:
          direction = "right";
        break;
      case 40:
          direction = "down";
        break;
      case 83:
          direction = "down";
        break;
    }
    
    var request = new XMLHttpRequest();
    request.open('POST', {{ url_for('fetchKeyPressData')|tojson }});
    request.setRequestHeader("Content-Type", "application/json");
    request.send(JSON.stringify(direction));
    
    showDirection.innerHTML = direction;
    
    request.onreadystatechange = function() {
      if (this.status == 200 && this.readyState == 4) {
        console.log(request.responseText);
        showMovement.innerHTML = this.responseText;
      }
    }
    
  };
</script>
