<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <style type="text/css">
	    	a:hover {
				text-decoration: none;
			}
	    </style>
	</head>
	<body>
		<div class="container-fluid mt-3">
			<button class="btn btn-danger mb-3"><a class="text-white" href="{{ url_for('remote') }}">Go back to remote</a></button>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<button class="btn btn-primary" type="button" id="cmdEnter" onclick="cmdSend();">Send Command</button>
				</div>
				<input class="form-control" type="text" id="cmdInput" placeholder="command">
			</div>
			<div class="spinner-border" role="status" style="visibility: hidden" id="cmdSpinner">
			  	<span class="sr-only">Loading...</span>
			</div>
			<div style="height:300px; width:800px; overflow:auto;" id="cmdOutputDiv">
				<p>Command Output:</p>
				<ul class="list-group list-group-flush" id="cmdOutput" tabindex="1">
				</ul>
			</div>
		</div>
		
		<script type="text/javascript">
			var cmdInput = document.getElementById('cmdInput');
			var cmdEnter = document.getElementById('cmdEnter');
			var cmdOutput = document.getElementById('cmdOutput');
			var cmdOutputDiv = document.getElementById('cmdOutputDiv');
			var cmdSpinner = document.getElementById('cmdSpinner');

			cmdInput.addEventListener('keyup', function(event) {
				if (event.keyCode === 13 && cmdInput.value != '') {
					event.preventDefault();
					cmdEnter.click();
				}
			});

			cmdSend = function(direc) {
				cmd = cmdInput.value;
				console.log(cmd);
				if (cmd == 'cls' || cmd == 'clear') {
					while (cmdOutput.hasChildNodes()) {  
					  	cmdOutput.removeChild(cmdOutput.firstChild);
					}
					cmdInput.value = '';
				}
				else if (cmd == '') {
					cmdInput.value = '';
				}
				else {
					sendRequest(cmd);
					cmdInput.value = '';
				}
			}

			sendRequest = function(cmd) {
				var request = new XMLHttpRequest();
				request.open('POST', {{ url_for('executeCommand')|tojson }});
				request.setRequestHeader('Content-Type', 'application/json');
				request.send(JSON.stringify(cmd));

				cmdSpinner.style.visibility = 'visible';

				request.onreadystatechange = function() {
				  	if (this.status == 200 && this.readyState == 4) {
				  		response = JSON.parse(request.responseText)['response']
				    	console.log(response);
				    	cmdSpinner.style.visibility = 'hidden';
				    	let node = document.createElement("LI");
						let textnode = document.createTextNode(response);
						node.appendChild(textnode);
						node.className = 'list-group-item';
						cmdOutput.appendChild(node);
						cmdOutputDiv.scrollTop = cmdOutputDiv.scrollHeight;
				  	}
				}
			}
		</script>
		<!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>